<h2>Movies</h2>
<div class="movies-menu">
{{#each movies}}
<div>
  <h3>Title: {{ this.title }}</h3>
 
  <img width="200px" src="{{this.image}}" alt="{{this.title}}" /> 
  
  <a href="/movies/{{this._id}}">See More</a>
</div>
{{/each}}
</div>